@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

.timerContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    width: 15%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5% 1%;
    border-radius: 40px;
}

.titleSession{
    font-size: 2em;
}

.timeDisplay{
    font-family: 'Space Mono', monospace;
    font-size: 5em;
}

;