html{
  background-color: #525B56;
  height: 100vh;
  color: #f8f8ff;
  text-align: center
}

.timeAdjusterContainer{
  display: flex;
  justify-content: space-around;
  margin-left: 35%;
  width: 30%;
  font-size: 2em;
}

.title{
  margin-top: 7%;
  font-size: 4em;
}

.timerAndButtons{
  padding-top: 3%;
  text-align: center
}