html{
  background-color: #525B56;
  height: 100vh;
  color: white;
  text-align: center
}

.timeAdjusterContainer{
  display: flex;
  justify-content: center;
  padding: 1%
}

.title{
  margin-top: 15%; 
}
